.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.control {
  padding: 0.5rem 1rem;
}

.control .icon {
  top: unset;
  left: 1rem;
}
