.bordered {
  border-bottom: 0.125rem solid var(--additional-filter-background);
}

.checkbox_cell {
  min-width: 2rem;
  width: 2rem;
}

.order_cell {
  min-width: 6.75rem;
  width: 6.75rem;
}

.date_cell,
.status_cell {
  min-width: 11rem;
  width: 11rem;
}

.count_cell {
  min-width: 6rem;
  width: 6rem;
}

.amount_cell {
  min-width: 8rem;
  width: 8rem;
}

.client_cell {
  width: 100%;
}

.footer__buttonsBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.button_danger {
  background-color: var(--style-danger);
}

.footer__text {
  color: var(--style-primary);
}

.footer__pages {
  display: flex;
  gap: 1.5rem;
}

.footer__pagination {
  display: flex;
  gap: 0.25rem;
}
