.dropdowns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 3rem;
  width: 42rem;
  height: 32rem;
}

.dropdown_section1 {
  grid-column: 1;
  grid-row: 1;
}

.dropdown_section2 {
  grid-column: 2;
  grid-row: 1;
}

.dropdown_section3 {
  grid-column: 1;
  grid-row: 2;
}

.dropdown_section4 {
  grid-column: 2;
  grid-row: 2;
}

.dropdown_section5 {
  grid-column: 3;
  grid-row: 2;
}

.wrapper {
  position: relative;
}

._ {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 10rem;
  box-sizing: border-box;
  background-color: var(--text-reverse);
  box-shadow: 0 0.5rem 1.5rem var(--shadow), 0 0.25rem 0.5rem var(--shadow),
    0 0.125rem 0.125rem var(--shadow);
}

.overlay {
  position: absolute;
  top: 3.75rem;
  right: 0;
}

.withList {
  padding: 0.5rem 0;
}

.withInput {
  padding: 1rem;
  gap: 0.5rem;
}

.withDialog {
  padding: 1rem;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-self: flex-start;
}

.item:hover {
  background-color: var(--text-secondary);
}

.item:active {
  background-color: var(--style-primary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

._ .button {
  justify-content: center;
}
