:root {
  --color-purple: #8055ff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-blue: #bad8f5;
  --color-blue: #459df5;
  --color-dark-blue: #287ed5;
  --color-medium-blue: #1e65a4;
  --color-red: #f53152;
  --dropdown-shadow: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
  padding: 5rem;
}

.dashed-wrapper {
  box-sizing: border-box;
  border: 0.0625rem dashed var(--color-purple);
  border-radius: 0.3125rem;
  padding: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
