.checkboxes {
  width: fit-content;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.checkboxes:global.dashed-wrapper {
  padding: 1.5rem;
}

._ {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  flex-grow: 1;
}

.area {
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-light-blue);
  border-radius: 0.125rem;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  fill: var(--color-white);
  transition: opacity 0.25s ease-in;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  color: var(--color-black);
}

.area:active {
  background-color: var(--color-light-blue);
}

.area:checked {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.area:checked + .text + .icon {
  opacity: 1;
}

.area:checked + .icon {
  opacity: 1;
}

.area:checked + .text {
  color: var(--color-blue);
}

.item {
  padding: 0.5rem 1rem;
}

.item .icon {
  top: unset;
  left: 1rem;
}
