._ {
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
  align-items: center;
  padding: 0.75rem 0.5rem;
  color: var(--text-reverse);
  cursor: default;
}

.icon {
  width: 1rem;
  height: 1rem;
}

._ .icon {
  fill: var(--text-reverse);
  stroke: var(--text-reverse);
}
